@using webbanao.Menu
@inject AdminSidebarService _adminSidebarService
@{
    ViewData["Title"] = "Xóa database";
}
<h1>@ViewData["Title"]</h1>
<p >
    Có chắc chắn xóa ?
</p>
<form method="post">
    <button type="submit" class="btn btn-danger">Xóa Db</button>
    <hr />
    <a class="btn btn-primary" asp-action="index">Quản lý db</a>
</form>
@{
    _adminSidebarService.SetActive("DbManage", "Index", "Database");
}

@section Sidebar
{
    @Html.Raw(_adminSidebarService.renderHtml())
}