@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using webbanao.Areas.Product.Services

@inject CartService _cartService;


@{
    var cart = _cartService.GetCartItems();
    <a class="text-warning" asp-route="cart"><img src="~/images/icon/cart.png" alt=""> <span>@cart.Count</span></a>
}
