@using Microsoft.AspNetCore.Identity
@using webbanao.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form style="display: inline-block" class="mr-0" asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
       
                <a class="nav-link text-light" asp-area="Identity" asp-controller="Manage" asp-action="Index" title="Manage">
                    <i class="far fa-user"></i>
                    @UserManager.GetUserName(User)!
                </a>
                <button title="Log Out" type="submit" class="btn btn-link navbar-btn navbar-link text-light">
                    Logout
                </button>
    </form>
}
else
{
            <a title="Đăng nhập" class="nav-link text-light" id ="signIn" asp-area="Identity" asp-controller="Account" asp-action="Login">
                Sign In
            </a>
}
