<div class="dropdown">
    <a class="btn btn-outline-danger dropdown-toggle" href="#" 
       id="manageddropdownmenu" data-toggle="dropdown">
        Manage
    </a>
    <div class="dropdown-menu" aria-labelledby="manageddropdownmenu">
        <a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">
            Database
        </a>
    </div>
</div>